body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0b;
    color: white;
}

header {
    background: #111111;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo span {
    color: #ff4500;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.join-btn {
    background: #ff4500;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    min-height: 550px;
    display: flex;
    align-items: center;
    padding: 50px;
    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.9)
    );
}

.hero h1 {
    font-size: 65px;
    margin: 10px 0;
}

.hero h1 span {
    color: #ff4500;
}

.hero p {
    color: #cccccc;
    font-size: 18px;
    max-width: 550px;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 20px;
    background: #ff4500;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

section {
    padding: 70px 50px;
}

.title {
    color: #ff4500;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.about {
    background: #111111;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: auto;
    color: #bbbbbb;
    line-height: 1.8;
}

.programs {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: #171717;
    width: 220px;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #292929;
}

.card:hover {
    border-color: #ff4500;
    transform: translateY(-5px);
}

.card h3 {
    color: #ff4500;
}

.card p {
    color: #aaaaaa;
    line-height: 1.5;
}

.membership {
    background: #111111;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.plan {
    background: #181818;
    padding: 35px;
    width: 220px;
    border-radius: 8px;
}

.plan h3 {
    color: #ff4500;
}

.price {
    font-size: 40px;
    font-weight: bold;
}

.contact {
    text-align: center;
}

footer {
    background: #050505;
    text-align: center;
    padding: 30px;
    color: #888888;
}

@media(max-width: 700px) {

    header {
        padding: 20px;
    }

    nav {
        display: none;
    }

    .hero {
        padding: 30px;
    }

    .hero h1 {
        font-size: 42px;
    }

    section {
        padding: 50px 25px;
    }
}